name: CD - Deploy to EC2

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd devops-evolution-project
            git checkout main
            git pull origin main

            cd app
            docker build -t devops-backend:latest .

            docker stop devops-backend || true
            docker rm devops-backend || true

            docker run -d \
              --name devops-backend \
              -p 5000:5000 \
              -e APP_ENV=production \
              -e APP_VERSION=main-latest \
              devops-backend:latest
